asgiref==3.8.1
blinker==1.8.2
certifi==2024.8.30
channels==4.1.0
charset-normalizer==3.3.2
click==8.1.7
Django==5.1.1
Flask==3.0.3
GPUtil==1.4.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
jsonify==0.5
MarkupSafe==2.1.5
psutil==6.0.0
requests==2.32.3
setuptools==75.1.0
sqlparse==0.5.1
urllib3==2.2.3
Werkzeug==3.0.4
